---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#00adad] via-[#00adad] to-[#00adad] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Ricky Januari
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer dari Bandung, Indonesia.</p>
  </div>
  <div>
    <p class="mb-5">
      Halo semuanya, Saya punya blog berbahasa Inggris di <a
        href="https://rickyjanuari.com">rickyjanuari.com</a
      > Namun, saya juga ingin berbagi dengan teman-teman di
      Indonesia. Blog ini akan saya gunakan untuk menulis dalam bahasa
      Indonesia.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">Selamat membaca tulisan-tulisan saya</code>
    </p>
  </div>
</section>
